@import "font.css";

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

:root {
    --l-b: "Lato-Bold";
    --l-r: "Lato-Regular";
    --l-l: "Lato-Light";
}

/* ======= HEADER ======== */

.header {
    background: url("../img/Back_1.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    padding-top: 270px;
}
.header__title {
    text-align: center;
}
.title {
    font-size: 34px;
    color: #fff;
    font-family: var(--l-r);
    position: relative;
}
.title::after {
    content: '';
    display: flex;
    position: absolute;
    width: 105px;
    height: 1px;
    background-color: #fff;
    top: 140%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%);
}
.header__title-btn {
    padding: 15px 45px;
    background: none;
    color: #fff;
    text-transform: uppercase;
    border: 1px solid #fff;
    margin-top: 60px;
    transition: 0.5s ease;
    font-size: 16px;
}
.header__title-btn:hover {
    color: rgba(201, 198, 198, 0.993);
    border: 1px solid rgba(201, 198, 198, 0.993);
}

/* ======= ABOUT ======= */

.about {
    background-color: #ffffff;
    padding: 90px 0 180px 0;
}
.about__block {
    text-align: center;
}
.title2 {
    font-size: 34px;
    color: #000000;
    font-family: var(--l-r);
    position: relative;
}
.title2::after {
    content: '';
    display: flex;
    position: absolute;
    width: 105px;
    height: 1px;
    background-color: #444444;
    top: 140%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%);
}
.about__block-text {
    color: #868585;
    font-size: 14px;
    margin-top: 37px;
    line-height: 2.5em;
    margin-bottom: 100px;
}
.about__icon {
    text-align: center;
    padding: 0 50px;
}
.about__icon-title {
    font-size: 23px;
    color: #000000;
    margin: 60px 0 30px 0;
    font-family: var(--l-r);
}
.about__icon-text {
    color: #868585;
    font-size: 14px;
    margin-top: 37px;
    line-height: 2em;
    font-family: var(--l-l);
}

/* ======= PROTFOLIO ======= */

.protfolio {
    padding: 110px 0 60px 0;
    background-color: #f3f3f3;
}
.protfolio__text {
    text-align: center;
    margin-bottom: 200px;
}
.protfolio_text-title {
    font-family: var(--l-b);
}
.protfolio__box-img {
    width: 100%;
    margin-top: 20px;
}
.protfolio__btn {
    text-align: center;
    padding-top: 60px;
}
.protfolio__btn-button {
    padding: 15px 45px;
    border: 1px solid #000;
    font-family: var(--l-r);
    font-size: 15px;
    transition: 0.5s ease;
}
.protfolio__btn-button:hover{
    background-color: #073667;
    border: none;
    color: #fff;
}

/* ======= MAIN LOGO ======= */

.logo {
    width: 100%;
    height: 60vh;
    background-image: url(../img/Back_1.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    padding: 100px 0;
}
.logo__title-h4 {
    font-size: 30px;
    color: #fff;
    margin-bottom: 96px;
}

/* ======= FOOTER ======= */
.link {
    background-color: #3c3c3c;
    padding: 115px 0 90px 0;
}
.link__box {
    text-align: center;
}
.link__box__ul {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
}
.link__box__ul__li {
    margin: 0 9px;
}
.link__box__ul__li-a {
    text-decoration: none;
    color: #a4a4a4;
    font-size: 14px;
    font-family: var(--l-r);
    transition: 0.5s;
}
.link__box-text {
    font-size: 14px;
    color: #6c6c6c;
    font-family: var(--l-r);
}